# Make vim the default editor.
export EDITOR='subl -w';

# Larger bash history. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Make some commands not show up in history.
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer Swedish and use UTF-8.
export LANG="sv_SE";
export LC_ALL="sv_SE.UTF-8";

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# Python related things
export PIP_REQUIRE_VIRTUALENV=true;
export PIP_DOWNLOAD_CACHE=$HOME/.pip/cache;
